*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1 {
  font-weight: 700;
  padding: 4rem;
  padding-bottom: 0;
}

p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

label {
  display: flex;
  align-items: center;

  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.app-footer {
  padding: 4rem;
  font-size: 3rem;
  text-align: center;
  color: white;
  background-color: #9c27b0;
}

.login-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 124%;
  width: 100%;
  background-color: rgb(254, 254, 254, 0.6);
  z-index: 1;
}

.hidden-page {
  visibility: hidden;
}
